*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}


.list{
    margin-bottom: 10px;
    text-align: start;
}
.btn{
    margin-left: 10px;
}

body{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}

.title{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 20px;
}

ul{
    margin-left: 25px;
}